.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  background-color: black;

}
body {
background-color: black;
}

h1 {
  color: white;
}

 
.header {
  flex: 30%;
  color: white;
  width: 50%;
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 50px;

}

.header .inputContainer {
  display: flex;
  flex-direction: column;
 
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  background-color: black;
  color: white;
  
}

.header button {
  width: 90px;
  height: 45px;
  border: solid 1px white;
  background-color: black;
  color: white;
  border-radius: 5%;
  margin-left: 10px;
  cursor: pointer;
}

.todoList {
  flex: 70%;
  width: 50%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  
  
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 15px;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;

}

.task button {
  flex: 20%;
  height: 100%;
  border: none;
  background-color: aquamarine;
  border-radius: 5px;
  margin-left: 30px;
  color: white;
  cursor:pointer;
}



